
<footer class="footer">
<div class="subscribe-newsletter">
<div class="container">
<div class="row justify-content-between">
<div class="col-lg-6 col-md-6">
<div class="subcribes">
<div class="text-step1">
<div class="btext-heading mt-2" style="color:#acacac; font-size:14px;">
</div>
</div>
</div>
</div>
<div class="col-lg-5 col-md-6">
<div class="subcribe-input">
</div>
</div>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-3">
<div class="about-jobby">
<a href="/"><img src="images/logo1.svg" alt=""></a>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu purus et diam blandit vehicula sit amet sed metus. Fusce condimentum non neque at fringilla. Aenean malesuada aliquet tincidunt.</p>
</div>
</div>
<div class="col-lg-3 col-md-3">
<div class="footer-links">
<h4>About</h4>
<ul>
<li><a >About Us</a></li>
<li><a >Login</a></li>
<li><a >My Account</a></li>
<li><a>Contact</a></li>
<li><a >Privacy Policy</a></li>
<li><a >Terms of Use</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-3">
<div class="footer-links">
<h4>For Companies</h4>
<ul>
<li><a >Browese Freelancers</a></li>
<li><a >Post a Job</a></li>
<li><a>Post a Project</a></li>
<li><a >Pricing Plans</a></li>
</ul>
</div>
</div>
<div class="col-lg-3 col-md-3">
<div class="footer-links">
<h4>For Candidates</h4>
<ul>
<li><a>Browese Jobs</a></li>
<li><a >Jobs Alerts</a></li>
<li><a >Applied Jobs</a></li>
<li><a>Bookmarks</a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="copy-social">
<div class="container">
<div class="row">
<div class="col-lg-6 col-md-6">
<div class="copyright">
<i class="far fa-copyright"></i>Copyright 2019 <span>Jobby</span>. All Right Reserved.
</div>
</div>
<div class="col-lg-6 col-md-6">
<div class="social-icons">
</div>
</div>
</div>
</div>
</div>
</footer>


<button onclick="topFunction()" id="pageup" title="Go to top"><i class="fas fa-arrow-up"></i></button>

