
<link rel="icon" type="image/png" href="images/fav.png">

<link href="/user/css/responsive.css" rel="stylesheet">
<link href="/user/css/style.css" rel="stylesheet">
<link href="/user/css/datepicker.min.css" rel="stylesheet">
<link href="/user/css/jquery.range.css" rel="stylesheet">
<link href="/user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/user/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="/user/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
<link href="/user/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="/user/vendor/semantic/semantic.min.css">


<div class="invc_header">
<div class="container">
<div class="row justify-content-md-center">
<div class="col-md-8 col-sm-12">
<div class="header102">
<div class="header_logo">
<img src="images/invoice_logo.svg" alt="">
</div>
<div class="invoice_heading">
<h6>Invoice</h6>
</div>
</div>
</div>
</div>
</div>
</div>


<section class="invoice_section">
<div class="container">
<div class="row justify-content-md-center">
<div class="col-md-8">
<div class="invoice_body">
<div class="nvdate_dt">
<div class="nvde_dt45">
</div>
<div class="nvde_dt46">
<ul class="in11448">
<li><div class="vdt-list"><span>Date :</span>10 December 2019</div></li>
<li><div class="vdt-list"><span>Invoice No :</span>IVIP12023598</div></li>
<li><div class="vdt-list"><span>Order ID :</span>1258963487</div></li>
</ul>
</div>
</div>
<h3 class="dff474">Invoice</h3>
<div class="jike145">
<div class="row">
<div class="col-md-6">
<div class="vhls140">
<h4>Customer</h4>
<ul>
<li><div class="vdt-list">Rock William</div></li>
<li><div class="vdt-list">133, Dracut</div></li>
<li><div class="vdt-list">Massachusetts</div></li>
<li><div class="vdt-list">01826</div></li>
<li><div class="vdt-list">United States</div></li>
</ul>
</div>
</div>

</div>
</div>
<div class="invoice_table">
<div class="table-responsive-md">
<table class="table table-borderless">
<thead>
<tr>
<th scope="col">Description</th>
<th scope="col">Price</th>
<th scope="col">Total Amount</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row">
<div class="user_dt_trans">
<p>Professional Plan</p>
</div>
 </th>
<td>
<div class="user_dt_trans">
<p>$200.00</p>
</div>
</td>

<td>
<div class="user_dt_trans">
<p>$220.00</p>
</div>
</td>
</tr>
<tr>
<th scope="row"></th>
<td colspan="3">
<div class="user_dt_trans jsk1145">
<div class="totalinv2">Invoice Total : USD $220.00</div>
<p>Paid via Paypal</p>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="invoice_footer">
<div class="leftfooter">
<p>Thanks for buying.</p>
</div>
<div class="righttfooter">
<a class="print_btn" href="javascript:window.print();">Print</a>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<button onclick="topFunction()" id="pageup" title="Go to top"><i class="fas fa-arrow-up"></i></button>


<script src="/user/js/jquery.min.js"></script>
<script src="/user/js/datepicker.min.js"></script>
<script src="/user/js/i18n/datepicker.en.js"></script>
<script src="/user/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/user/vendor/OwlCarousel/owl.carousel.js"></script>
<script src="/user/vendor/semantic/semantic.min.js"></script>
<script src="/user/js/jquery.range-min.js"></script>
<script src="/user/js/custom1.js"></script>

